* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }

  .bannar-hard-service{
    width: 100%;
    background-color: #ff0000;
    color: #ffff;
    text-align: center;
    padding: 2rem 0;
  }
  .bannar-hard-service h2{
    font-size: 2rem;
  }
  

  .hard-services-main-section{
    width: 60%;
    margin: auto;
    padding: 5rem 0;
    
  }
  .hard-services-main-section h1{
    color: #ff0000;
    opacity: 0.8;
    
  }
  .hard-services-main-section img{
    width: 100%;
    margin: 1rem 0;
    animation: AboutR  2s ease-out forwards;
  }
  .hard-services-main-section p{
    opacity: 0.9;
  }
  




@keyframes AboutR {
from {
  opacity: 0;
  transform: translateX(150px);
}

to {
  opacity: 1;
  transform: translateY(0);
}
}


@media screen and (max-width:1150px){
    .hard-services-main-section{
        width: 70%;

    }
}
@media screen and (max-width:890px){
    .hard-services-main-section{
        width: 80%;

    }
    .bannar-hard-service h2{
        font-size: 1.6rem;
      }
}
@media screen and (max-width:650px){
    .hard-services-main-section{
        width: 90%;
        padding: 3rem 0;

    }
    .bannar-hard-service h2{
        font-size: 1.3rem;
        
      }
      .bannar-hard-service{
        padding: 1.4rem;
      }
      .hard-services-main-section h1{
        font-size: 1.2rem;
      }
}